* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f2f2f2;
}
.todo-container{
    width: 500px;
    margin: 100px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}
h2{
    text-align: center;
}
.input-box{
    display: flex;
    gap: 5px;
}
.input-box input{
    flex: 1;
    padding: 8px;
}
.input-box button{
    padding: 8px 12px;
    cursor: pointer;
}
#todolist{
    list-style: none;
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.delete-btn{
    background: red;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
}